@model GooBitAPI.Models.User
@{
    ViewData["Title"] = "Profile";
    ViewData["ufirst"] = @ViewBag.first;
    ViewData["ulast"] =@ViewBag.last;
}

<script type="text/javascript">
  function CalEndDate(endDate, elementid) {
  const currentDate = new Date();
  const timeEnd = new Date(endDate);
  const timeDifference = timeEnd.getTime() - currentDate.getTime();
  var dayDifference = Math.ceil(timeDifference / (1000 * 3600 * 24)).toString();

  // Get list of element by class name
  var elements = document.getElementsByClassName(elementid);
  if (Number(dayDifference) <= 0)
  {
      dayDifference = "0";
  }
  // Loop through the elements and update their content
  for (var i = 0; i < elements.length; i++) {
      
      elements[i].innerHTML = dayDifference.concat(" Days left");
  }
  }

  function CalPeoplePercent(totalpeople, maxpeople, elementName){
      var elements = document.getElementsByClassName(elementName);
      for (var i = 0; i < elements.length; i++) {
          var percent = ((totalpeople / maxpeople) * 100).toString();
          elements[i].style.width = percent.concat("%")
      }
      
  }
  
</script>


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:500,600,700" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:500,600,700" />
<link rel="stylesheet" href="~/css/Profile.css" />

<div class="profile-page">

  <div class="split-left">
    <div class="profile-box">
      <img id="user-profile" src="~/uploadFiles/UserProfile/default_img.png">
      <h1>@ViewBag.first @ViewBag.last</h1>
      <p id="profile-email">@ViewBag.mail</p>
      <p id="profile-description">@ViewBag.description</p>

        <div class="profile-stats-container">

        <div class="profile-stats">
          <div>
            <h3>Participated</h3>
            <p>@ViewBag.participated_counter</p>
          </div>
          <img src="~/icon/finish.png">
        </div>

        <div class="profile-stats">
          <div>
            <h3>Hosted</h3>
            <p>@ViewBag.Hosted_evented</p>
          </div>
          <img src="~/icon/host.png">
        </div>

        </div>

      </div>

      <div class="setting-container">
        <button class="setting" id="profile-setting">
          <p>Settings</p>
          <img src="~/icon/settings.png">
        </button>
        <button class="setting" id="Log-out">
          <p>Log-out</p>
        </button>
      </div>
    </div>

  <div class="split-right">
    <div class="create-event-container">
      <div class="create-event-box">
        <img src="~/uploadFiles/UserProfile/default_img.png">
          <p>What event do you want to start?</p>
        <img src="~/icon/image-gallery.png">
        <img src="~/icon/location.png">
      </div>
    </div>

    <div class="event-list-container">
      <div class="home-page">
        <div class="post__list">
            @foreach(var evnt in ViewBag.ShortEventDisplay)
            {
                <a class='post__container' asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@evnt.Id">
                    <div class='post__container-header'>
                        <img src="~/uploadFiles/UserProfile/@evnt.user_image"/>
                        <div>
                            <p class="post__container-header-name"> @evnt.firstname @evnt.lastname</p>
                            <p class="post__container-header-end_date @evnt.Id" id="@evnt.Id">-</p>
                            <script> CalEndDate("@evnt.end_date", "post__container-header-end_date @evnt.Id")</script>
                        </div>
                      <button>
                        <img id = "icon" src="~/icon/settings.png">
                      </button>
                        
                    </div>
                    
                    <div class='post__container-body'>
                        <div class="img-container">
                            <img src="~/uploadFiles/EventImage/@evnt.event_img[0]"/>
                        </div>
                    </div>
                    <div class='post__container-footer'>
                        <p id="title"> @evnt.title</p>
                        <p id="description">@evnt.description</p>
                        <div class="element__container">
                            <div class='post__container-location'>
                                <img src="~/icon/location.png">
                                <p id="location">@evnt.googlemap_location</p>
                            </div>
                            <div class='post__container-date'>
                                <img src="~/icon/calendar.png">
                                <p id="date">@evnt.event_date</p>
                            </div>
    
                            <div id="participant">
                                <img src="~/icon/group.png">
                                <div class="progress-bar-container">
                                    <div class="progress-bar @evnt.Id"></div>
                                </div>
                                <script> CalPeoplePercent("@evnt.total_member", "@evnt.max_member","progress-bar @evnt.Id") </script>
                                <p id="attemp">@evnt.total_member/@evnt.max_member</p>
                            </div>
                        </div>
                    </div>
                </a>
            } 
      </div>
  </div>
</div>
