
@model IEnumerable<GooBitAPI.Models.ShortEventDisplay>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/homepage.css"/>

<ul>
    @foreach (var std in ViewBag.ShortEventDisplay)
    {
        <li>
            <strong>ID:</strong> @std.Id <br />
            <strong>Title:</strong> @std.title <br />
            <strong>Location:</strong> @std.googlemap_location <br />
        </li>
        <br />
    }
</ul>

<div class="home-page">
    <div class="post__list">
        @foreach(var evnt in ViewBag.ShortEventDisplay)
        {
            <a class='post__container' asp-area="" asp-controller="Home" asp-action="Post">
                <div class='post__container-header'>
                    <img src="~/uploadFiles/1a193173-7cbe-4dc8-ab98-fbb0b112d88f.jpg"/>
                    <p> @evnt.firstname @evnt.lastname</p>
                    
                </div>
                
                <div class='post__container-body'>
                    <p> @evnt.title</p>
                    <div class="img-container">
                        <img src="~/uploadFiles/9756b08b-e987-4a9a-b054-9b831d368b3d.jpg"/>
                    </div>
                </div>

                <div class='post__container-footer'>
                    <p id="date">Ended in: xx/xx/xxxx</p>
                    <div class="progress-bar-container">
                        <div class="progress-bar"></div>
                    </div>
                    <p id="attemp">3/5</p>
                </div>
            </a>
        } 
    </div>
</div>
