@{
    ViewData["Title"] = "Post";
}

<link rel="stylesheet" href="~/css/postpage.css"/>
<div class="post-page">
    <div class="post-header">
        <div class="map">
            <h1>GOOGLE MAP HERE</h1>
            <img src="~/uploadFiles/UserProfile/@ViewBag.EventDisplay.user_image"/>
        </div>
        <a class="back" asp-area="" asp-controller="Home" asp-action="Index">
            <img  src="~/Icon/Union.png"/>
        </a>
    </div>
    <div class="post-body">
            <div class="post-header">
                <div class="post-info">
                    <h4>@ViewBag.EventDisplay.title</h4>
                    <p id="author">by @ViewBag.EventDisplay.firstname @ViewBag.EventDisplay.lastname</p>
                    <p id="category">Category • @ViewBag.EventDisplay.category</p>
                </div>
                <div class="post-status">
                    <div class="date-line">
                        <div>
                            <p>End in</p>
                            <p id="date">@ViewBag.EventDisplay.end_date</p>
                        </div>
                        <img src="~/Icon/Union.png"/>
                    </div>
                    <div class="joined">
                        <div>
                            <p>joined</p>
                            <p id="parti"> @ViewBag.EventDisplay.total_member/@ViewBag.EventDisplay.max_member </p>
                        </div>
                        <img src="~/Icon/Vector.png"/>
                    </div>
                </div>
            </div>
            <div class="post-middle">
                <div class="post">
                    <p class="des">@ViewBag.EventDisplay.description</p>
                    <div class="img-container">
                        <img src="~/uploadFiles/875d5615-be02-4ae1-9e50-30471b89b779.jpg"/>
                    </div>
                </div>
                <div class="comment-container">
                    <div class="creat-comment">
                        <img  id="uimg"src="~/uploadFiles/875d5615-be02-4ae1-9e50-304    71b89b779.jpg"/>
                        <input type="text" placeholder="Add comment">
                        <button type="submit">
                            <img src="~/Icon/Icon.png"/>
                        </button>
                    </div>
                    <p id="comment_num">X comments</p>
                    
                    <div class="list-comment">
                    @for(int i = 0; i< 10 ;i++){
                        <div class="comment">
                            <div class="comment-header">
                                <img  id="uimg"src="~/uploadFiles/875d5615-be02-4ae1-9e50-30471b89b779.jpg"/>
                                <div class="header-text">
                                    <p id="uname">Kitton Sudmilor</p>
                                    <p id="date">XX/XX/XXXX</p>
                                </div>
                                <button>
                                    <img id="del" src="~/Icon/delete.png"/>
                                </button>
                            </div>
                            <div class="comment-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                            </div>
                            <div class="creat-comment-body">
                                <img  id="uimg"src="~/uploadFiles/875d5615-be02-4ae1-9e50-30471b89b779.jpg"/>
                                <input type="text" placeholder="Add comment">
                                <button type="submit">
                                    <img src="~/Icon/Icon.png"/>
                                </button>
                            </div>
                        </div>
                    }
                    </div>
                </div>
            </div>
            <div class="join-bt">
                    <button class="join-bt">I want to anticipate in this event </button>
            </div>
            
    </div> 
</div>