
@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_layoutforPost.cshtml";
}

<link rel="stylesheet" href="~/css/postpage.css"/>
<script src="~/js/Home/EventMap.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuU9Wcj-4Z3ikPd9dp75Z8Hxdu3WII9Wc&libraries=places"></script>

<div class="post-page">
    <div class="post-banner">
        <div id="bannermap"></div>
    </div>

    <!-- <div class="post-header">
        <h1>@ViewBag.EventDisplay.title</h1>

        <img src="~/uploadFiles/UserProfile/@ViewBag.EventDisplay.user_image"/>
        <a class="back" asp-area="" asp-controller="Home" asp-action="Index">
            <img  src="~/Icon/Union.png"/>
        </a>
    </div> -->
    <div class="post-container">

        <div class="post-body">
            <div class="split-left">
                <div class="post-info">
                    <img id="profile-image" src="~/uploadFiles/UserProfile/@ViewBag.EventDisplay.user_image"/>
                    <p id="author">by @ViewBag.EventDisplay.firstname @ViewBag.EventDisplay.lastname</p>
                    <p id="category">Category • @ViewBag.EventDisplay.category</p>
                    <p id="location">Location • @ViewBag.EventDisplay.googlemap_location</p>
                    <p id="description">@ViewBag.EventDisplay.description</p>
                    @foreach(var img in ViewBag.EventDisplay.event_img)
                    {
                        <img src="~/uploadFiles/EventImage/@img"/>
                    }
                    <div id="pagemap"></div>
                    <div class="join-bt">
                        <button class="join-bt">I want to anticipate in this event </button>
                </div>
            </div>
            </div>
            <div class="split-right">
                <div class="post-status">
                    <div class="end-date">
                        <div>
                            <p>End in</p>
                            <p id="date">@ViewBag.EventDisplay.end_date.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</p>
                            
                        </div>
                        <img src="~/Icon/Union.png"/>
                    </div>
                    <button class="joined">
                        <div>
                            <p>joined</p>
                            <p id="parti"> @ViewBag.EventDisplay.total_member/@ViewBag.EventDisplay.max_member </p>
                        </div>
                        <img src="~/Icon/Vector.png"/>
                    </button>
                </div>
                <div class="post-middle">
                    <div class="comment-section">
                        <div class="create-comment">
                            <img id="create-comment-image" src="~/uploadFiles/UserProfile/@ViewBag.EventDisplay.user_image"/>
                            <input id="create-comment-text"type="text" placeholder="Add comment">
                            <button id="create-icon" type="submit" onclick="CreateComment()">
                                <img src="~/Icon/Icon.png"/>
                            </button>
                        </div>
                    </div>
                    <div class="comment-container">
                        <p id="comment_num">X comments</p>
                        
                        <div class="list-comment">
                            @foreach(var _comment in ViewBag.EventDisplay.comments){
                                <div class="comment">
                                    <div class="comment-header">
                                        <img  id="header-comment-image" src="~/uploadFiles/UserProfile/@_comment.user_image"/>
                                        <div class="header-text">
                                            <p id="uname">Kitton Sudmilor</p>
                                            <p id="date">@_comment.create_time</p>
                                        </div>
                                        <button>
                                            <img id="del" src="~/Icon/delete.png"/>
                                        </button>
                                    </div>
                                    <div class="comment-body">
                                        <p>@_comment.text</p>
                                    </div>
                                    <div class="creat-comment-body">
                                        <img  id="uimg"src="~/uploadFiles/UserProfile/@ViewBag.EventDisplay.user_image"/>
                                        <input type="text" placeholder="Add comment">
                                        <button type="submit">
                                            <img src="~/Icon/Icon.png"/>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                </div>

                
            </div>
        </div> 
    </div>
</div>
<script>
    function CreateComment()
    {
        const user_id = "@ViewBag.user_id"
        const user_image ="@ViewBag.EventDisplay.user_image"
        const event_id = "@ViewBag.EventDisplay.Id"
        const text = document.getElementById("create-comment-text").value
        const create_time = new Date();

        let new_comment = {
            user_id: user_id,
            user_image: user_image,
            event_id: event_id,
            text: text,
            create_time: create_time
        }
        let post = JSON.stringify(new_comment)
        const url = "http://localhost:5075/Home/CreateComment"
        let xhr = new XMLHttpRequest()
        
        xhr.open('POST', url, true)
        xhr.setRequestHeader('content-type', 'application/json; charset=UTF-8')
        xhr.send(post)

        xhr.onload = function () {
            if(xhr.status === 200) {
                window.alert("Comment Created Successfully")
            }
        }
    }

    function CreateReply()
    {
        const user_id = "@ViewBag.user_id"
        const user_image ="@ViewBag.EventDisplay.user_image"
        const event_id = "@ViewBag.EventDisplay.Id"
        const text = document.getElementById("create-comment-text").value
        const create_time = new Date();

        let new_comment = {
            user_id: user_id,
            user_image: user_image,
            event_id: event_id,
            text: text,
            create_time: create_time
        }
        let post = JSON.stringify(new_comment)
        const url = "http://localhost:5075/Home/CreateComment"
        let xhr = new XMLHttpRequest()
        
        xhr.open('POST', url, true)
        xhr.setRequestHeader('content-type', 'application/json; charset=UTF-8')
        xhr.send(post)

        xhr.onload = function () {
            if(xhr.status === 200) {
                window.alert("Comment Created Successfully")
            }
        }
    }
</script>